@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // user-select: none;
}

$secondaryColor: #6cc3d5;
$dangerColor: #ff7851;
$whiteColor: #fff;
$logoFont:'Aladin', cursive;

%transition {
    transition: all .2s linear;
}